{% extends "webapp/layouts/base.html" %}
{% load static %}

{% block headers %}
  <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/about.css' %}" />
{% endblock %}

{% block title %}
  About Gary
{% endblock %}

{% block body %}

<div id="about-text">

  <p>
    Gary Burgmann is a student software engineer and currently has a job working with Angular and Laravel. He really loves building his own projects with Python, Django, NodeJS and ReactJS on the side.
  </p>
  <p class="text-center">
    You can find more information regarding all things Gary at: 
  </p>
  <p class="text-center">
    <a class="fab fa-gitlab" href="https://gitlab.com/garyburgmann"> GitLab </a> &nbsp;
    <a class="fab fa-github" href="https://github.com/garyburgmann"> GitHub</a> &nbsp;
    <a class="fab fa-linkedin" href="https://www.linkedin.com/in/garyburgmann/"> LinkedIn</a> &nbsp;
  </p>

</div>

{% endblock %}