{% extends "webapp/layouts/base.html" %}
{% load static %}

{% block headers %}
  <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/contact.css' %}" />
{% endblock %}

{% block title %}
  Contact Submitted
{% endblock %}

{% block body %}

<div class="container-light">
  <div class="section-text">

    <p class="text-center">
      Thanks for dropping me a line :) I'll be in touch soon.
    </p>
    <p class="text-center">
      <a class="btn btn-dark" role="button" href="/">Back</a>
    </p>

  </div>
</div>

{% endblock %}